*, *:before, *:after {
    box-sizing: border-box;
  }
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
  height: 100vh;
}
input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
  }
  .type-1 {
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
  }
  .type-1:hover {
    border: 1px solid #aaa;
  }
  .type-1:focus{
      outline:none;
  }
  .inputContainer{
      display:flex;
      align-items:center;
    
  }
  .inputContainer label{
      text-transform:capitalize;
      letter-spacing:.1em;
      margin-right:10px;
  }
  .login h1 {
      text-transform: capitalize;
  }

body {
    overflow: hidden; /* Hide scrollbars */

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
